# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.pyc

#ignore ~ files
*~
*.kate-swp
CMakeFiles/*
CMakeCache.txt
stats/*
scratch/*
build/*
!build/gles/*
!build/gles/Makefile
!build/gles/*.make
!build/Makefile
!build/*.make
*.swp
tags
tags.lock
tags.temp
